@import url('https://fonts.googleapis.com/css?family=Nova+Round');
/* CSS Document */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a{
	text-decoration: none;
	color: white;
}

.link{
	color: #C19293
}

h1{
	text-align: center;
	color: white;
	font-family: 'Nova Round', cursive;
	font-size: 50px;
	font-weight: lighter;
}

h2{
	color: white;
	font-size: 19px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: lighter;
}

h3{
	color: white;
	font-size: 30px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: lighter;
	text-align: center;
}



h{
	text-decoration: none;
	color: white;
	font-size: 50px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 300
}

p{
	color: white;
	font-size: 20px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 100;
}

body{
	background-image: url("../images/rainy_city.jpeg");
	background-pos: center;
  	background-size: cover;
}

.Container{
	display:flex ;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #51B6A0;
  box-shadow: 0px 6px 1px #0d4345;
  padding-bottom: 3px;
  width: 1200px;
}

.navBar{
	display:flex;
	justify-content: space-around;
	background-color: #0d4345;
	margin-top: 10px;
	width: 1200px;
	box-sizing: content-box;
	padding: 8px 0px 8px 0px;
	box-shadow: 0px 3px 0px #51B6A0;
}

.navBar > div{
	cursor: pointer;
	padding: 3px 20px 3px 20px;
	background-color: #51B6A0;
	transition: .3s;
}

.navItems0{
	background-color: #51B6A0;
	transition: .3s;
}

/*
.dropdown {
  position: relative;
  display: inline-block;
}
*/

.dropdown {
 	display: flex;
	flex-direction: column;
}

.dropdown:hover .navItems0 {
	cursor: pointer;
	background-color: #479987;
}

.dropdown:hover {
	cursor: pointer;
	background-color: #479987;
}

#dropdown-content {
  	display: none;
  	position: absolute;
	z-index: 1;
  	background-color: #f1f1f1;
  	width: 200px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 29px 0px 0px 0px;
}

#dropdown-content .navItemsdrop {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: .2s;
}

#dropdown-content .navItemsdrop:hover { background-color: #479987;}
.dropdown:hover #dropdown-content {display: block;}
.dropdown:hover .navItemsdrop {background-color: #51B6A0}


.navItems1:hover {
	background-color: #479987;
} 
.navItems2:hover {
	background-color: #479987;
} 
.navItems3:hover {
	background-color: #479987;
} 
.navItems4:hover {
	background-color: #479987;
} 
.navItems5:hover {
	background-color: #479987;
} 
.navItems6:hover {
	background-color: #479987;
} 
.navItems7:hover {
	background-color: #479987;
}


.gridContainer{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 72px 72px 40px 72px 40px 72px 40px;
	grid-gap: 20px;
	width: 1200px;
	min-height: 550px;
	margin: auto;
/*	border: solid 1px;*/
	padding: 10px;
}

.gridContainer > div{
	box-sizing: content-box;
	background-color: rgba(0, 0, 0, 0.6);
	padding-left: 20px;
}

.gridItems1{
	margin: 0px 0px 0px 40px;
	width: 170px;
}
.gridItems2{
	margin: 0px 0px 0px 20px;
	width: 95px;
}
.gridItems3{
	padding: 5px 0px 0px 0px;
}
.gridItems4{
	margin: 0px 0px 0px 20px;
	width: 95px;
}
.gridItems5{
	padding: 5px 0px 0px 0px;
}
.gridItems6{
	margin: 0px 0px 0px 20px;
	width: 95px;
}
.gridItems7{
	padding: 5px 0px 0px 0px;
}

.home{
	display:box;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 10px 10px;
	width: 190px;
	margin: auto;
	margin-top: 15px;
	transition: .3s;
}

.home:hover {
	background-color: rgba(0, 0, 0, 0.5)
}

.counter{
	width: 1200px;
	margin: 0 auto;
	padding: 5px 0px 0px 0px;
  }







