body {
	
	background-color: #eee;
}

a {
	text-decoration: none;
}

p {
	
	font-family: "Baskerville Old Face";
}

#container {
	
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	
}

h2 {
	
	color: white;
	text-align: center;
	
}

h3 {

	color: #800000;
	
}

#header {
	background-color: #800000;
	font-family: "Copperplate Gothic Bold";
	padding: 5px;
	margin: 0px;
	color: #FFFFFF;
}
#topnav {
	background-color: #800000;
	color: white;
	height: 43px;
	margin-top: -17px;
}

#topnav a {
	
	color: white;
}

#topnav li {

	display: inline;
	list-style: none;
	float: left;
	padding: 10px;
}

#content {
	background-color: white;
	height: 1000px;
}

#sidenav {
	
	width: 160px;
	float: left;
	padding: 10px;
		
}

#sidenav li {
	
	list-style: none;

}

#sidenav a {
	
	color: red;
}


#main {
	
	width: 580px;
	float: right;
	padding: 10px;

}












