@import url('https://fonts.googleapis.com/css?family=Nova+Round');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-image: url("images/blurry_back.jpeg");
  background-position: center;
  background-size: stretch;
  background-color: antiquewhite;
}

p {
  font-family: "Segoe UI",Arial,sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 450;
}

a {
  text-decoration: none;
  color: white
}

h1{
	color: white;
  font-family: 'Nova Round', cursive;
  	font-size: 50px;
	text-align: center;
	font-weight: lighter;
}

.title {
  display: flex;
  justify-content: center;
  background-color: orange;
  box-shadow: 0px 6px 1px #ff7400;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 100px;
  padding-bottom: 3px;
}

.container{
  display: flex;
/*   background-color: white; */
  background: rgba(0, 0, 0, 0.4);
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 0px;
  padding-bottom: 40px
}

.containerLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sideTitle{
  margin: 0 auto;
  margin-left: 40px;
  border: 0px solid;
  text-align: center;
  width: 700px;
  background-color: orange;
  box-shadow: 4px 5px 1px #ff7400;
  color: White;
  font-size: 60px;
  font-weight: 900;
}

.navbar{
  display: flex;
  color: white;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
}

.navbarLinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  padding: 10px 20px;
  margin: 10px 0px 30px 10px;
  background-color: orange;
  border-radius: 10px 100px 10px 100px;
  box-shadow: 5px 8px 1px #ff7400;
  transition: .3s;
}

.navbarLinks:hover{
  box-shadow: 5px 8px 1px orange;
  background-color: #ff7400;
}

.containerTitle{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.infoTitle{
  text-align:center;
  background-color: orange;
  box-shadow: 4px 5px 1px #ff7400;
  width: 300px;
  flex-direction: flow-reverse;
  font-size: 30px;
  font-weight: 900;
  color: White;
  margin: 10px 30px 0px 0px;
}

.info{
  background-color: orange;
  width: 300px;
  overflow: auto;
  overflow-wrap: break-word;
  height: 400px;
  margin: 10px 0px 10px 4px;
  padding: 12px 20px;
}

.counter{
  width: 1200px;
  margin: 0 auto;
  padding: 5px 0px 0px 0px;
}

